{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page_title }} | Monitor</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" href="{% static 'django.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
  </head>
  <body>
    <div class="layout">
      {% include "web/_sidebar.html" %}
      <main class="content">
        {% include "web/_top_userbar.html" %}
        {% block content %}{% endblock %}
      </main>
    </div>
    <script src="{% static 'django.js' %}"></script>
  </body>
</html>
